[Unit]
Description=ENISRA Express Backend
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/your-app-folder/backend
ExecStart=/usr/bin/node server.js
Restart=always
RestartSec=5
Environment=PORT=5000
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
